/* ====================
*   Root Variables
*  ==================== */

:root {
    --color-light-bg: #ffffff;
    --color-light-text: #434b57;
    --color-light-accent-bg: #7953f5;
    --color-dark-bg: #0d1b2a;
    --color-dark-text: #e0e1dd;
    --color-dark-accent-bg: #415a77;

    --color-radio-bg: var(--color-light-bg);
    --color-radio-dot: var(--color-light-accent-bg);
}
/* Can we make the radio bg and dot match up to the dark mode setting? */

/* ====================
*   Utility Classes
*  ==================== */

.light-bg {
    background-color: var(--color-light-bg);
}

.light-text {
    color: var(--color-light-text);
}

.light-border-bottom {
    border-bottom: 1px solid var(--color-light-text);
}

.light-accent {
    background-color: var(--color-light-accent-bg);
    color: var(--color-light-bg);
}

.light-accent::placeholder {
    color: var(--color-light-bg);
    opacity: 0.5;
}

.light-bulb-icon {
    color: black;
}

.dark-bg {
    background-color: var(--color-dark-bg);
}

.dark-text {
    color: var(--color-dark-text);
}

.dark-border-bottom {
    border-bottom: 1px solid var(--color-dark-text);
}

.dark-accent {
    background-color: var(--color-dark-accent-bg);
    color: var(--color-dark-text);
}

.dark-accent::placeholder {
    color: var(--color-dark-bg);
    opacity: 0.8;
}

.dark-bulb-icon {
    color: yellow;
}

/* --- Radio Buttons - Custom Styling --- */

input[type="radio"] {
    display: grid;
    place-content: center;

    appearance: none;
    background-color: var(--color-light-bg);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-light-accent-bg);
}

input[type="radio"].dark-accent::before {
    box-shadow: inset 1em 1em var(--color-dark-accent-bg);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

/* Light Mode:
*  https://coolors.co/palette/434b57-7953f5-d8d8d8-f7f7f8-ffffff (in reverse)
*  #ffffff
*  #f7f7f8
*  #d8d8d8
*  #7953f5
*  #434b57
*  */

/* Dark Mode:
*  https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd
*  #0d1b2a
*  #1b263b
*  #415a77
*  #778da9
*  #e0e1dd
*  */
