/* ================
*   General Layout
*  ================ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-color: slategray;
}

.App {
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.2em;

    border-bottom: 1px solid black;
}
