/* ============
*   Imports
*  ============ */

@import "./css/lightDarkMode.css";

/* ================
*   General Layout
*  ================ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    width: 80vw;

    background-color: slategray;
}

#root {
    width: inherit;
}

.App {
    width: inherit;

    text-align: center;
}

/* ============
*   Title Bar
*  ============ */

div.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 5em;
}

.light-dark-btn-content {
    font-size: 3rem;
}

/* ========
*   Header
*  ======== */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.2em;
}

header > button {
    width: 100%;
    height: 3.5em;

    background-color: inherit;

    border: none;
}

header > button:hover {
    box-shadow: 0 0 1px 1px black;
}

header > button:active {
    color: red;
}

/* ============
*   Sections
*  ============ */

section.entry-form {
    margin: 1em auto;

    border: 1px solid green;
}

section.render-window {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 20vh;

    background-color: dimgrey;
    border-radius: 1em;
}
